@import "src/app/pixel-styles.scss";

.footer {
  display: flex;

  justify-content: flex-end;

  height: $footer_height;
  background-color: map-get($mat-primary, "main");
  .title {
    font-size: 12pt;
    margin-right: 50px;
  }
}
