@import "src/app/pixel-styles.scss";


.main{
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;


background-color: $dark-bg-tooltip;

min-height: calc(
  100vh - #{$header_height} - #{$footer_height}
);
max-height: calc(
  100vh - #{$header_height} - #{$footer_height}
);
overflow-y: auto;

.menu{

  margin-right: 200px;

}

.grid1{
//margin-left: 300px;
  margin-top: 50px;
}


}


