<div class="menu">
  <div class="button-group">
    <label id="example-radio-group-label">Pick your favorite Grid</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="favoriteGrid"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let grid of grids"
        [value]="grid"
        (click)="addNewItem(grid)"
      >
        {{ grid }}
      </mat-radio-button>
    </mat-radio-group>
    <div>Your favorite grid is: {{ favoriteGrid }}</div>
  </div>
</div>
