@import "src/app/pixel-styles.scss";

.select{
  margin-right: 50px;
  width: 100px;
}

.download{
  margin-right: 50px;
  height: 50px;
  background-color: map-get($mat-primary, "darker");
}


.fill{
  height: 50px;
  width: 80px;
  background-color: map-get($mat-primary, "darker");
}
